.game-container{
    display:flex;
    flex-direction: column;   
    width:200px;
    height:200px;
    justify-content: space-around;
}

.row{
    display:flex;
    justify-content: space-around;
    width:100%;
}

button{
    width:50px;
    height:50px;
}